---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Partners from '../components/Partners.astro';
import Diensten from '../components/Diensten.astro';
import Werkwijze from '../components/Werkwijze.astro';
import Gallerij from '../components/Gallerij.astro';
import Reviews from '../components/Reviews.astro';
import FAQ from '../components/FAQ.astro';
import Werkgebied from '../components/Werkgebied.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import CookieBanner from '../components/CookieBanner.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import MobileCallBar from '../components/MobileCallBar.astro';
---

<Layout
  title="Woningontruiming Gent | Huisleegmakers - Respectvol & Bezemschoon"
  description="Woning ontruimen in Gent? Huisleegmakers regelt alles: respectvol, snel en bezemschoon. Gratis bezichtiging, transparante prijzen. Bel 0478 22 56 33."
>
  <Header />
  <main id="main">
    <Hero />
    <Partners />
    <Diensten />
    <Werkwijze />
    <Gallerij />
    <Reviews />
    <FAQ />
    <Contact />
    <Werkgebied />
  </main>
  <Footer />
  <CookieBanner />
  <ScrollToTop />
  <MobileCallBar />
</Layout>
